.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header-img-wrap {
  border: 5px solid #282c34;
}

.App-header-img-wrap > img, .App-header-img-wrap {
  width: 176px;
  height: 176px;
  border-radius: 50%;
}

.App-header-title {
  font-size: 0.6em;
}