.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-img-wrap {
  border: 5px solid #fff;
}

.App-header-img-wrap > img, .App-header-img-wrap {
  width: 176px;
  height: 176px;
  border-radius: 50%;
}

.App-header-title {
  font-size: 0.8em;
}